.jumbotron {
    box-shadow: 5px 5px 7px 0px rgba(92, 92, 92, 0.83);
    background-image: url("../../utils/images/books1.jpg");
    background-size: cover;
    height: 600px;
    background-position: center;
}

.myText {
    color: rgb(243, 243, 243);
    font-weight: bold;
    position: relative;
    transform: translateY(100px)
}